{% extends 'WaBackBundle::layout.html.twig' %}
{% block content %}
    <a href="{{ path('wa_back_produit') }}">Retourner à la liste des produits</a>
    <h3>Modifier produit</h3>
    {{ form_start(formulaireProduit, {attr : {novalidate:"novalidate"}} ) }}
    {{ form_end(formulaireProduit) }}
    <a href="{{ path('wa_back_produit') }}" class="btn btn-block btn-default">Retourner à la liste des produits</a>
{% endblock %}